*{
    margin:0;
    padding:0;
}


body{
    background-color: #E2CACA;
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    
}

.pos-f-t{
    font-size: large;
}

.menu-container1{
    border-bottom: solid  1px #9d9dbe;
    border-radius: 7px;
}

    
.menu-items{
margin:1%;
margin-left: 1%;
margin-bottom: 1%;
}

.content-container{
    margin: 9%;
    border-top: solid 1px #9d9dbe ;
    
}

.main-content{
    background-image: url(https://images.pexels.com/photos/5379088/pexels-photo-5379088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover, contain;
    height: 100vh;
    margin-top: 7%;
    opacity: 60%;
    object-fit: contain ;
    position: relative;
   
}

.content{
   left: 10%;
   position:absolute;
   font-weight: bolder;
  top:20%;
  color:#987071
   
   
}
    .main-links{
       align-items: left;
       font-weight: bolder;
       font-size: 6em;

      
    }


@media screen and (max-width: 919px) {
    .pos-f-t{
        
   }
    .menu-container1{
        border-bottom: solid  2px #9d9dbe;
        border-radius: 60px;
        text-align: center;
                             
    }
    .text-white{
        font-size: xx-large;
    }
    .main-links{
        
        font-weight: bolder;
        font-size: 4em;
     }
     .center{
         margin:100%;
     }

    .main-content{
        background-image: url(https://images.pexels.com/photos/5379088/pexels-photo-5379088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover, contain;
        height: 50vh;
        opacity: 75%;
        object-fit: cover;
        color:rgb(102, 102, 218)
        
       
    }
    .content{
        
        text-align: left;
        }
    
            @media screen and (max-width: 610px) {
            .menu-container1{
text-align: center;
            }
            
                .main-content{
                    background-image: url(https://images.pexels.com/photos/5379088/pexels-photo-5379088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover, contain;
                    height: 100vh;
                    opacity: 80%;
                    object-fit: contain;
                    color:rgb(102, 102, 218);
                }
                .menu-link{
                align-items: center;
                text-align: center;
                
                
                }
            
    }
}